@model RedeSocialCondominio.ViewModels.HomeViewModel

@section SPAViews {
    @Html.Partial("_Home")
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

<div class="text-center">
    <img src="~/Images/appartments.png" width="100" alt="" />
    <h4>
        <span class="negrito">
            Bem-vindo(a), @Model.Nome!
        </span>
    </h4>
</div>

<br />

<div class="hide" id="usuarioId">
    @Model.UserId
</div>

<div class="row">
    <div class="col-lg-4">
        <a href="/Visitante"><img src="~/Images/visitantes.png" alt="Generic placeholder image" width="300" height="111"></a>
    </div>
    <div class="col-lg-4">
        <a href="/Mudanca"><img src="~/Images/mudanças.png" alt="Generic placeholder image" width="300" height="111"></a>
    </div>

    @if (Model.PerfilId == 2 || Model.PerfilId == 3)
    {
        <div class="col-lg-4">
            <a href="/Encomenda/TodasEncomendas"><img src="~/Images/todasEncomendas.png" alt="Generic placeholder image" width="300" height="111"></a>
        </div>
    }
    else
    {
        <div class="col-lg-4">
            <a href="/Encomenda"><img src="~/Images/encomendas.png" alt="Generic placeholder image" width="300" height="111"></a>
        </div>
    }


    <div class="col-lg-4">
        <a href="/horario"><img src="~/Images/horarios.png" alt="Generic placeholder image" width="300" height="111"></a>
    </div>
    <div class="col-lg-4">
        <a href="/reserva"><img src="~/Images/reservas.png" alt="Generic placeholder image" width="300" height="111"></a><span class="badgeHome red hideReserva" id="js-notifications-reservas-count"></span>
    </div>
    <div class="col-lg-4">
        <a href="/ocorrencia"><img src="~/Images/Ocorrencias.png" alt="Generic placeholder image" width="300" height="111"></a><span class="badgeHome red hideOcorrencias" id="js-notifications-ocorrencias-count"></span>
    </div>
    <div class="col-lg-4">
        <a href="/reuniao"><img src="~/Images/reunioes.png" alt="Generic placeholder image" width="300" height="111"></a><span class="badgeHome red hideReunioes" id="js-notifications-reunioes-count"></span>
    </div>


</div>

@Scripts.Render("~/bundles/lib")

<script>
    $(document).ready(function () {

        $(".badgeHome")
            .addClass("animated bounceInDown");

    });
</script>