@model RedeSocialCondominio.ViewModels.HomeViewModel

@section SPAViews {
    @Html.Partial("_Home")
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

<div class="text-center">
    <img src="~/Images/logo.png" width="350" />
</div>

<h4>
    <span class="negrito">
        Bem-vindo(a), @Model.Nome!
    </span>
</h4>

<br />

<div class="hide" id="usuarioId">
    @Model.UserId
</div>

<div class="row text-center">
    <div class="col-lg-4">
        <a href="/Visitante"><img src="~/Images/visitantes.png" class="imgLogos" alt="Generic placeholder image" width="300" height="111"></a>
    </div>
    <div class="col-lg-4">
        <a href="/Mudanca"><img src="~/Images/mudanças.png" class="imgLogos" alt="Generic placeholder image" width="300" height="111"></a>
    </div>

    @if (Model.PerfilId == 2 || Model.PerfilId == 3)
    {
        <div class="col-lg-4">
            <a href="/Encomenda/TodasEncomendas"><img src="~/Images/todasEncomendas.png" class="imgLogos" alt="Generic placeholder image" width="300" height="111"></a>
        </div>
    }
    else
    {
        <div class="col-lg-4">
            <a href="/Encomenda"><img src="~/Images/encomendas.png" class="imgLogos" alt="Generic placeholder image" width="300" height="111"></a>
        </div>
    }

    @if (Model.PerfilId == 2 || Model.PerfilId == 4)
    {
        <div class="col-lg-4">
            <a href="/horario"><img src="~/Images/horarios.png" class="imgLogos" alt="Generic placeholder image" width="300" height="111"></a>
        </div>
    }
        <div class="col-lg-4">
            <a href="/reserva"><img src="~/Images/reservas.png" class="imgLogos" alt="Generic placeholder image" width="300" height="111"></a><span class="badgeHome red hideReserva" id="js-notifications-reservas-count"></span>
        </div>
        <div class="col-lg-4">
            <a href="/ocorrencia"><img src="~/Images/Ocorrencias.png" class="imgLogos" alt="Generic placeholder image" width="300" height="111"></a><span class="badgeHome red hideOcorrencias" id="js-notifications-ocorrencias-count"></span>
        </div>
        <div class="col-lg-4">
            <a href="/reuniao"><img src="~/Images/reunioes.png" class="imgLogos" alt="Generic placeholder image" width="300" height="111"></a><span class="badgeHome red hideReunioes" id="js-notifications-reunioes-count"></span>
        </div>
        <div class="col-lg-4">
            <a href="/livro"><img src="~/Images/Livro_virtual.png" class="imgLogos" alt="Generic placeholder image" width="300" height="111"></a><span class="badgeHome red hideLivro" id=""></span>
        </div>

    </div>

    @Scripts.Render("~/bundles/lib")

        <script>
            $(document).ready(function () {

                $(".badgeHome")
                    .addClass("animated bounceInDown");

            });
        </script>