@model RedeSocialCondominio.ViewModels.LivroViewModel

<div class="text-center">
    <img src="~/Images/notebook.png" width="100" alt="" />
    <h3>Livro Virtual</h3>
    <h4>Faça postagens e interaja com outros inquilinos.</h4>
</div>

<br />
<br />


<div class="col-md-6">

    <div class="agendar-visitante">
        <h4>
            <span class="negrito">
                Olá, @Model.NomeUsuarioLogado!
            </span>
        </h4>
    </div>

    <br />

    <h4>O que você está pensando?</h4>
    <textarea rows="4" cols="30" class="form-control" id="postNovo" placeholder="Digite aqui a sua postagem." required></textarea>

    <div class="btn-agendar-visitante">
        <button type="button" class="btn btn-primary" id="btnSalvar">Publicar</button>&nbsp;
        <button class="btn btn-secondary">@Html.ActionLink("Voltar", "Index", "Home")</button>
    </div>

</div>
<div class="col-md-6">

    <h4>Últimas postagens:</h4>
    <hr />

    @if (Model.Postagens.Count == 0)
    {
        <div class="alert alert-warning">
            Nenhum post foi realizado nesse período.
        </div>
    }

    <div>

        <ul class="list-unstyled">
            @foreach (var p in Model.Postagens)
            {
                <li class="media">
                    <img class="mr-3 img" src="~/Images/user.png" width="50" alt="Generic placeholder image">
                    <div class="media-body">
                        <button class="btn btn-sm btn-default excluir-post" onclick="RemoverPost(@p.Id)"><span class="glyphicon glyphicon-remove-sign not-ok"></span></button>
                        <h4 class="mt-0 mb-1">@p.NomeUsuarioQuePostou </h4>
                        @p.Postagem
                        <br />
                        <br />

                        <div class="exibir-comentarios">
                            @{
                                string id = "textExibir" + p.Id;
                                <button class="excluir-post" onclick="ExibirComentarios(@p.Id)" id="@id">Exibir comentários</button>
                            }
                        </div>

                        <p>Postado em: @p.DataHoraPostagem.ToString("dd/MM/yyyy") às @p.DataHoraPostagem.ToString("HH:mm")</p>


                        <hr />


                        @*Comentarios:*@
                        <div class="media mt-3 hide" id="@p.Id">
                            <ul class="list-unstyled">
                                @foreach (var c in Model.Comentarios.Where(c => c.PostId == p.Id))
                                {
                                    <li id="@c.PostId">
                                        <img class="img" src="~/Images/user.png" width="50" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <button class="btn btn-sm btn-default excluir-post" onclick="RemoverComentario(@c.Id)"><span class="glyphicon glyphicon-remove-sign not-ok"></span></button>
                                            <h5 class="mt-0">@c.NomeUsuarioQuePostou</h5>
                                            @c.Comment
                                        </div>

                                        <hr />
                                    </li>
                                }
                            </ul>

                            @{
                                string comentarioId = "comentario" + p.Id;
                                <h4>Comentar</h4>
                                <textarea rows="3" cols="30" class="form-control" id="@comentarioId" placeholder="Digite o seu comentário..."></textarea>
                                <br />
                                <button class="btn btn-primary" id="btnComentar" onclick="SalvarComentario(@p.Id)">Comentar</button>
                            }
                        </div>

                    </div>
                </li>
                                }
        </ul>

    </div>
</div>

@section Scripts {

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script>
        $(document).ready(function () {

            $("#btnSalvar").click(function () {
                var data = {
                    Id: 0,
                    Post: $('#postNovo').val()
                }

                SalvarPost(data);
            });


            function SalvarPost(data) {
                $.ajax({
                    type: "POST",
                    url: '/Livro/SalvarPost',
                    data: data,
                    success: function (data) {
                        alert(data.status);
                        window.location.reload();
                    },
                    error: function () {
                        alert('Ocorreu um erro. Por favor, tente de novo.');
                    }
                })
            }
        })
        function RemoverPost(id) {
            if (confirm("Tem certeza que deseja excluir esse post?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeletePost", "Livro")' + "?id=" + id,
                    success: function(data) {
                        alert(data.status);
                        window.location.reload();
                    },
                    error: function () {
                        alert('Ocorreu um erro. Por favor, tente de novo.');
                    }
                });
            }
        }
        function ExibirComentarios(id) {

            if ($('#textExibir'+id).text() == "Exibir comentários") {
                $('#' + id).removeClass('hide');
                $('#textExibir'+id).html("Esconder comentários");
            }

            else if ($('#textExibir'+id).text() == "Esconder comentários") {
                $('#' + id).addClass('hide');
                $('#textExibir'+id).html("Exibir comentários");
            }
        }

        function SalvarComentario(id) {
            var data = {
                Id: 0,
                PostId: id,
                Comentario: $('#comentario'+id).val()
            }

            $.ajax({
                type: "POST",
                url: '/Livro/SalvarComentario',
                data: data,
                success: function (data) {
                    alert(data.status);
                    window.location.reload();
                },
                error: function () {
                    alert('Ocorreu um erro. Por favor, tente de novo.');
                }
            })
        }

         function RemoverComentario(id) {
            if (confirm("Tem certeza que deseja excluir esse comentário?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteComentario", "Livro")' + "?id=" + id,
                    success: function(data) {
                        alert(data.status);
                        window.location.reload();
                    },
                    error: function () {
                        alert('Ocorreu um erro. Por favor, tente de novo.');
                    }
                });
            }
        }
    </script>

}


